{% extends 'base_smallhero.html' %}
{% set active_page = "slotmachine" %}

{% block herocontent %}
  <center><h1>Epic Slot Machine</h1></center>
{% endblock %}

{% block maincontent %}

    <section id="about" class="about">
    	<div class="container" data-aos="fade-up">
    		<div class="row content">
				<div class="col-lg-6">
					{% if result == True %}
					<p><b>{{winmsg}}</b></p><br>
					<table id="slot-machine"> 
						<tr>{% for col in lineone %}<td>{{ col }}</td>{% endfor %}</tr>
						<tr>{% for col in linetwo %}<td>{{ col }}</td>{% endfor %}</tr>
						<tr>{% for col in linethree %}<td>{{ col }}</td>{% endfor %}</tr>
					</table>
					<br><br>
						{% if matches != None %}
						<h3>Win patterns:</h3>
							{% for match in matches %}
								{% if match == "row1vertical" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win6.jpg') }}">
								{% endif %}
								{% if match == "row2vertical" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win7.jpg') }}">
								{% endif %}
								{% if match == "row3vertical" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win8.jpg') }}">
								{% endif %}
								{% if match == "row1horizontal" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win3.jpg') }}">
								{% endif %}
								{% if match == "row2horizontal" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win4.jpg') }}">
								{% endif %}
								{% if match == "row3horizontal" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win5.jpg') }}">
								{% endif %}
								{% if match == "diagonal1" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win1.jpg') }}">
								{% endif %}
								{% if match == "diagonal2" %}
									<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win2.jpg') }}">
								{% endif %}
							{% endfor %}
						{% endif %}
					{% else %}
					<table id="slot-machine"> 
						<tr><td>X</td><td>X</td><td>X</td></tr>
						<tr><td>X</td><td>X</td><td>X</td></tr>
						<tr><td>X</td><td>X</td><td>X</td></tr>
					</table>
					{% endif %}
				</div>
				<div class="col-lg-6">
					<h2>Actions</h2>
					{% if gameIsRunning == False %}
						<p><a href="{{ url_for('slotmachine', startgame=True) }}"><button type="submit" class="btn btn-secondary">Start game</button></a></p>
					{% else %}
						<p>Balance: {{ balance }} Credits</p>
						<p><a href="{{ url_for('slotmachine', endgame=True) }}"><button type="submit" class="btn btn-secondary">End game</button></a></p>
						<form method="post" action="{{ url_for('slotmachine') }}">
		                	<div class="form-group">
		                    	<label>Amount to bet</label>
		                    	<select class="form-control" name="amounttobet">
		                     		<option value="1"{% if (lastamounttobet == 1) %} selected="selected"{% endif %}>1 Credit</option>
		                      		<option value="3"{% if (lastamounttobet == 3) %} selected="selected"{% endif %}>3 Credits</option>
		                      		<option value="5"{% if (lastamounttobet == 5) %} selected="selected"{% endif %}>5 Credits</option>
		                      		<option value="10"{% if (lastamounttobet == 10) %} selected="selected"{% endif %}>10 Credits</option>
		                     	</select>
		                  	</div>
		                  	<button style="margin-top: 15px" type="submit" class="btn btn-secondary">Pull the lever!</button>
		                </form>
		                <br><b>{{msg}}</b>
					{% endif %}
				</div>
				<br><br><br><br><br>
				<div class="col-lg-12">
					<div id="testshuffle">
		            	<div>1</div><div>2</div><div>3</div><div>4</div>
		            </div>
		            <button id="shuffle" type="button" class="btn btn-primary btn-lg">pseudo shuffle!</button>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block customcss %}
<link href="{{ url_for('static', filename= 'vendor/slotmachine/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block customjs %}
<script src="{{ url_for('static', filename= 'node_modules/jquery-slotmachine/dist/slotmachine.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'vendor/slotmachine/js/main.js') }}"></script>
{% endblock %}