{% extends 'base_smallhero.html' %}
{% set active_page = "slotmachine" %}

{% block herocontent %}
  <center><h1>Epic Slot Machine</h1></center>
{% endblock %}

{% block maincontent %}

    <section id="about" class="about">
    	<div class="container" data-aos="fade-up">
    		<div class="row content">
				<div class="col-lg-6">
					{% if result == True %}
						<table id="slot-machine">
							<tr>
								<td><div id="slot1"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot2"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot3"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
							</tr>
							<tr>
								<td><div id="slot4"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot5"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot6"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
							</tr>
							<tr>
								<td><div id="slot7"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot8"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
								<td><div id="slot9"><div>0</div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>X</div></div></td>
							</tr>
						</table>
						<br><br>
						<div id="resultlist" style="display:none">
							<h4>{{winmsg}}</h4>
							{% if matches != None %}
								
									{% for match in matches %}
										{% if match == "row1vertical" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win6.jpg') }}">
										{% endif %}
										{% if match == "row2vertical" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win7.jpg') }}">
										{% endif %}
										{% if match == "row3vertical" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win8.jpg') }}">
										{% endif %}
										{% if match == "row1horizontal" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win3.jpg') }}">
										{% endif %}
										{% if match == "row2horizontal" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win4.jpg') }}">
										{% endif %}
										{% if match == "row3horizontal" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win5.jpg') }}">
										{% endif %}
										{% if match == "diagonal1" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win1.jpg') }}">
										{% endif %}
										{% if match == "diagonal2" %}
											<img class="slotresult" src="{{ url_for('static', filename='vendor/slotmachine/images/win2.jpg') }}">
										{% endif %}
									{% endfor %}
							{% endif %}
					</div>
					{% else %}
					<table id="slot-machine"> 
						<tr><td>X</td><td>X</td><td>X</td></tr>
						<tr><td>X</td><td>X</td><td>X</td></tr>
						<tr><td>X</td><td>X</td><td>X</td></tr>
					</table>
					{% endif %}
				</div>
				<div class="col-lg-6">
					<h2>Actions</h2>
					{% if gameIsRunning == False %}
						<p><a href="{{ url_for('slotmachine', startgame=True) }}"><button type="submit" class="btn btn-secondary">Start game</button></a></p>
					{% else %}
						<p>Balance: {{ balance }} Credits</p>
						<p><a href="{{ url_for('slotmachine', endgame=True) }}"><button type="submit" class="btn btn-secondary">End game</button></a></p>
						<form method="post" action="{{ url_for('slotmachine') }}">
		                	<div class="form-group">
		                    	<label>Amount to bet</label>
		                    	<select class="form-control" name="amounttobet">
		                     		<option value="1"{% if (lastamounttobet == 1) %} selected="selected"{% endif %}>1 Credit</option>
		                      		<option value="3"{% if (lastamounttobet == 3) %} selected="selected"{% endif %}>3 Credits</option>
		                      		<option value="5"{% if (lastamounttobet == 5) %} selected="selected"{% endif %}>5 Credits</option>
		                      		<option value="10"{% if (lastamounttobet == 10) %} selected="selected"{% endif %}>10 Credits</option>
		                     	</select>
		                  	</div>
		                  	<button style="margin-top: 15px" type="submit" class="btn btn-secondary">Pull the lever!</button>
		                </form>
		                <br><b>{{msg}}</b>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block customcss %}
<link href="{{ url_for('static', filename= 'vendor/slotmachine/css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block customjs %}
<script src="{{ url_for('static', filename= 'node_modules/jquery-slotmachine/dist/slotmachine.min.js') }}"></script>
<script>

function onComplete(){
	var x = document.getElementById('resultlist');
	x.style.display = "block";
}

const setdelay = 500;
const shuffletimes = 1;
const setactive = 8;

const slot1 = new SlotMachine(document.querySelector('#slot1'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ lineone[0] }}, 10);
  }
});
const slot2 = new SlotMachine(document.querySelector('#slot2'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ lineone[1] }}, 10);
  }
});
const slot3 = new SlotMachine(document.querySelector('#slot3'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ lineone[2] }}, 10);
  }
});
const slot4 = new SlotMachine(document.querySelector('#slot4'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linetwo[0] }}, 10);
  }
});
const slot5 = new SlotMachine(document.querySelector('#slot5'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linetwo[1] }}, 10);
  }
});
const slot6 = new SlotMachine(document.querySelector('#slot6'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linetwo[2] }}, 10);
  }
});
const slot7 = new SlotMachine(document.querySelector('#slot7'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linethree[0] }}, 10);
  }
});
const slot8 = new SlotMachine(document.querySelector('#slot8'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linethree[1] }}, 10);
  }
});
const slot9 = new SlotMachine(document.querySelector('#slot9'), {
  delay: setdelay,
  active: setactive,
  randomize() {
    return parseInt({{ linethree[2] }}, 10);
  }
});

setTimeout(() => slot1.shuffle(shuffletimes), 200);
setTimeout(() => slot2.shuffle(shuffletimes), 300);
setTimeout(() => slot3.shuffle(shuffletimes), 400);
setTimeout(() => slot4.shuffle(shuffletimes), 900);
setTimeout(() => slot5.shuffle(shuffletimes), 1000);
setTimeout(() => slot6.shuffle(shuffletimes), 1100);
setTimeout(() => slot7.shuffle(shuffletimes), 1600);
setTimeout(() => slot8.shuffle(shuffletimes), 1700);
setTimeout(() => slot9.shuffle(shuffletimes), 1800);

setTimeout(() => onComplete(), 2000);

</script>
{% endblock %}