{% extends 'base_smallhero.html' %}
{% set active_page = "adminpanel" %}

{% block herocontent %}
  <center><h1>Admin: Add user</h1></center>
{% endblock %}

{% block maincontent %}

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6">
            <p>Fill the form to add a new user to the system. Users added from here are activated and unbanned by default.</p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
              <form method="post" action="{{ url_for('adduser')}}">
                  <div class="form-group">
                     <label>Username</label>
                     <input type="text" class="form-control" placeholder="Username" name="user">
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="something@different.com" name="email">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password" name="pass">
                  </div>
                  <div class="form-group">
                     <label>Balance</label>
                     <input type="number" class="form-control" value="0" name="balance">
                  </div>
                  <div class="form-group">
                     <label>Activated</label>
                     <select class="form-control" disabled>
                      <option value="1" selected="selected">True</option>
                      <option value="0">False</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label>Banned</label>
                     <select class="form-control" disabled>
                      <option value="1">True</option>
                      <option value="0" selected="selected">False</option>
                     </select>
                  </div>
                  <div class="form-group">
                     <label>Is Admin</label>
                     <select class="form-control" name="isadmin">
                      <option value="1">True</option>
                      <option value="0" selected="selected">False</option>
                     </select>
                  </div>
                  <button type="submit" class="btn btn-secondary" style="margin-top: 15px">Add user</button>
              </form>
              <div style="padding-top: 20px; font-weight: bold;">{{ msg }}</div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}