{% extends 'base_smallhero.html' %}
{% set active_page = "myaccount" %}

{% block herocontent %}
  <center><h1>Profile Image</h1></center>
{% endblock %}

{% block maincontent %}

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6">
            <p><img src="{{ url_for('static', filename='upload/profileimg/') }}{{ userid }}{{ extension }}"></p>
            <p><a href="{{ url_for('myaccount')}}"><button class="btn btn-secondary" style="">Back</button></a></p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}