{% extends 'base_smallhero.html' %}
{% set active_page = "" %}

{% block herocontent %}
  <center><h1>Reset password</h1></center>
{% endblock %}

{% block maincontent %}

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6">
            <form method="post" action="{{ url_for('resetpassword')}}">
                  <div class="form-group">
                     <label>Email</label>
                     <input type="text" class="form-control" placeholder="something@else.com" name="email">
                  </div>
                  <div class="form-group">
                     <label>Username</label>
                     <input type="text" class="form-control" placeholder="Username" name="user">
                  </div>
                  <button type="submit" class="btn btn-secondary" style="margin-top: 15px">Reset password</button>
               </form>
            <div style="padding-top: 20px; font-weight: bold;">{{ msg }}</div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Here you can reset your password by entering the email address and username for your account.
            </p>
            <p>
              If an account exists for the entered data, you will receive an email with your new password.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
{% endblock %}